---
import MainLayout from "@/layouts/main-layout.astro";
import Counter from "../components/Counter.vue";

Astro.locals.cache(60);
---

<MainLayout title="Counter">
  <Counter client:visible>
    <h1>Hello, Vue!</h1>
  </Counter>
</MainLayout>
