---
import MainLayout from "@/layouts/main-layout.astro";
import { Button } from "@/components/ui/button";
import { Typography } from "@/components/ui/typography";
import { invalidate } from "../services/isr";

Astro.locals.cache(60);

const currentTime = new Date().toLocaleTimeString();

if (Astro.request.method === "POST") {
  invalidate("/time");
}
---

<MainLayout title="Current Time">
  <Typography display="heading-sm">
    The current time is:
    <Typography display="code">{currentTime}</Typography>
  </Typography>
  <form method="post">
    <Button>Invalidate</Button>
  </form>
</MainLayout>
