---
import MainLayout from "@/layouts/main-layout.astro";
import { Button } from "@/components/ui/button";
import { invalidate } from "../services/isr";

Astro.locals.cache(60);

const currentTime = new Date().toLocaleTimeString();

if (Astro.request.method === "POST") {
  invalidate("/time");
}
---

<MainLayout title="Current Time">
  <h1>The current time is: {currentTime}</h1>
  <form method="post">
    <Button>Invalidate</Button>
  </form>
</MainLayout>
